*.dll
*.exe
.DS_Store
bin/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
*.bak
*~
.*.swp
.idea
*.iml
*.test

go.work*

website/vendor
vendor/

# Coverage
coverage.txt

# IDEs
.idea/

# Terraform
/.terraform
*.tfvars
terraform.tfvars
*.hcl
*.tfstate
.terraform.tfstate.lock.info