[Unit]
Description=Chess Live Webhook service
After=network.target

[Service]
User=hus
WorkingDirectory=/home/hus/chess-live-helm
ExecStart=/home/hus/chess-live-helm/venv/bin/python /home/hus/chess-live-helm/helm-upgrade.py
Restart=always

[Install]
WantedBy=multi-user.target